@model EMS.MODEL.Models.EmployeeRequestModel;
@using EMP.Common;


@{
    ViewData["title"] = "New Employee";
}

<h1 class="text-center">Insert New Employee</h1>


<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmployeeName" class="control-label"></label>
            <input asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeAddress" class="control-label"></label>
            <input asp-for="EmployeeAddress" class="form-control" />
            <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeEmail" class="control-label"></label>
            <input asp-for="EmployeeEmail" class="form-control" />
            <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeExperience" class="control-label"></label>
            <input asp-for="EmployeeExperience" class="form-control" />
            <span asp-validation-for="EmployeeExperience" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeJoiningDate" class="control-label"></label>
            <input asp-for="EmployeeJoiningDate" class="form-control" type="date"/>
            <span asp-validation-for="EmployeeJoiningDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Technology" class="control-label"></label>
            <select asp-for="Technology" asp-items="Html.GetEnumSelectList<technology>()" class="form-control"></select>
            <span asp-validation-for="Technology" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <select asp-for="Role" asp-items="Html.GetEnumSelectList<EmployeeRole>()" class="form-control"></select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control"></select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-between">
                <input type="submit" value="Submit" class="btn btn-outline-success" />
                <input type="reset" value="Reset" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>

</div>

@{  
    if (@TempData["Msg"] != null)  
    {  
        <script>  
            alert('@TempData["msg"]')  
        </script>  
    }  
} 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}