
@{
    ViewData["title"] = "Home";
}

<h1 class="text-center">
    Admin Dashboard
</h1>


<div class="container">
    <p class="bg-dark text-white p-4">
        <a asp-action="Create" class="text-light">
            Create New Employee
        </a>
    </p>
    <p class="bg-light p-4">
        <a asp-action="ListofEmployee" class="text-dark">
            List of Employees
        </a>
    </p>
    <p class="bg-dark p-4">
        <a asp-action="newProject" class="text-light">
            Create New Project
        </a>
    </p>
    <p class="bg-light p-4">
        <a asp-action="ListofProject" class="text-dark">
            List of Projects
        </a>
    </p>
    <p class="bg-dark p-4">
        <a asp-action="listManager" class="text-light">
            List of Managers
        </a>
    </p>
</div>
